body {font-family: 'Fira Sans', sans-serif; font-size: 16px}
.title {font-size: 160%; margin: 4px;}
.subtitle {font-size: 130%; margin: 4px; color:#ff3300;}
.category {font-weight: bold; margin: 4px; color:#3333ff;}
.meal {margin-left: 2.4em; text-indent: -1.7em; margin-bottom: 4px; }
.price {font-style: italic; color:#666699; white-space: nowrap;}
.links {margin-top: 1.5em; margin-left: 4px;}
.links a {margin-right: 1em; color: darkgreen; margin-bottom: 1em; white-space: nowrap; display: inline-block;}

#savebutton{color:red}
#saveresponse{color: red}
.off {color: lightgrey !important;}
i {text-indent: 0; margin-left: 0; vertical-align:middle;}
button {margin: 10px;}